# Node
node_modules/
dist/
build/
*.log

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.egg-info/
.venv/
venv/
.env
.env.*

# Databases
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
.DS_Store

# Frontend
frontend/node_modules/
frontend/.vite/

# OS / misc
Thumbs.db
